<nav class="navbar navbar-expand-lg navbar-light bg-secondary bg-opacity-75 sticky-top fixed-top mb-5"
style="backdrop-filter: blur(10px);"
id="nav">
    <div class="container">
      <a class="navbar-brand" href="/modus-compare/">Modus Compare <small
          class="opacity-50 text-muted small fs-6"></small></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownContent" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Content
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownContent">
              <li><a class="dropdown-item small" href="#typography">Typography</a></li>
              <li><a class="dropdown-item small" href="#images">Images</a></li>
              <li><a class="dropdown-item small" href="#tables">Tables</a></li>
              <li><a class="dropdown-item small" href="#figures">Figures</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#components" id="navbarDropdownComponents" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Components
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownComponents">
              <li><a class="dropdown-item small" href="#accordion">Accordion</a></li>
              <li><a class="dropdown-item small" href="#alerts">Alerts</a></li>
              <li><a class="dropdown-item small" href="#badges">Badges</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#forms" id="navbarDropdownForms" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Forms
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownForms">
              <li><a class="dropdown-item small" href="#checks">Checks & Radios</a></li>
              <li><a class="dropdown-item small" href="#switches">Switches</a></li>
              <li><a class="dropdown-item small" href="#select">Select</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#kitchen-sink" id="navbarDropdownKitchenSink" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Kitchen Sink
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownKitchenSink">
              <li><a class="dropdown-item" href="/v1/">Modus Web Components v1</a></li>
              <li><a class="dropdown-item" href="/v2/">Modus Web Components v2</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="https://github.com/coliff/modus-compare/">GitHub</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
